/***************
CSS Resets
***************/
body {
  margin: 0;
  font-family: lato, sans-serif;
}

ul {
  list-style: none;
  padding-left: 0;
}

/***************
Global Styles
***************/
.container {
  width: 80%;
  margin: 0 auto;
}

/***************
Header and Nav
***************/
header {
  background: #5bc0de;
  color: white;
}

.top-nav {
  overflow: auto;
  /*background: red;*/
}

.top-nav__left {
  float: left;
  /*background: yellow;*/
}

.top-nav__right {
  display: inline-block;
  float: right;
  margin: 1rem;
  /*background: green;*/
}

.top-nav__item {
  display: inline-block;
  /*background: purple;*/
}

/***************
Main Section Styles
***************/
.grid__item {
  border: 0.1rem solid #555;
}
