/***************
CSS Resets
***************/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: lato, sans-serif;
}

ul {
  list-style: none;
  padding-left: 0;
}


/***************
Global Styles
***************/
.container {
  max-width: 90%; /* width will probably change */
  margin: 0 auto;
}

img {
  max-width: 100%;
}


/***************
Header and Nav
***************/

header {
  background: #5bc0de;
  color: white;
}

.top-nav {
  overflow: auto;
  /*background: red;*/
}

.top-nav__left {
  float: left;
  /*background: yellow;*/
}

.top-nav__right {
  display: inline-block;
  float: right;
  margin: 1rem;
  /*background: green;*/
}

.top-nav__item {
  display: inline-block;
  /*background: purple;*/
}


/***************
Main Section Styles
***************/

main {
  padding-top: 1rem;
}

.grid {
  overflow: auto;
}


/***************
Grid Item Styles and deeper
***************/
.grid__item {
  float: left;

  border: 0.1rem solid #aaa;
  min-width: 21rem;
  width: calc(100% / 3 - 1rem - 1rem);
  border-radius: 1rem;
  margin: 1rem;
  overflow: auto;
}

.user-info {
  overflow: auto;
  border-bottom: .1rem solid #aaa;
  padding: 1rem;
}

.user-image {
  width: 100px;
  height: 100px;
  border-radius: 5%;
  float: left;
}

.user-info__text {
  float: left;
  margin-left: 1rem;
}

.user-info__name {
  margin: 0;
  font-size: 1rem;
}

.user-info__username {
  margin: 0;
  color: #aaa;
  font-size: .75rem;
  font-weight: 500;
}



.repos {
  margin: 0;
  padding: 0;
}

.repo__item {
  padding: 0;
}

.repo-name {
  float: left;
}

.repo__item {
  border-bottom: .1rem solid #aaa;
  overflow: auto;
  margin: 0;
  padding: .25rem 1rem;
}

.repo__item:last-child {
  border-bottom: none;
}

.repo__item-left {
  float: right;
}

.language {
  display: inline-block;
  padding-left: 0.1rem;
}

.repo__item-dot {
  width: .75rem;
  height: .75rem;
  background: green;
  border-radius: 50%;
  display: inline-block;
}
